<div class="container">
  <div class="row align-items-center">
    <div class="col-md-6">
      <img src="/img/home-drone.jpg" class="img-fluid" alt="">
    </div>

    <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
      <div class="section-title ml-lg-5">
        <h4 class="title mb-4">Schneller, einfacher, günstiger: Drohnen-Geomagnetik</h4>
        <p class="text-muted">
          Mit unserer selbst entwickelten Drohnen-Geomagnetik Methode lassen sich zum Beispiel Kampfmittel, eisenhaltige Altlasen, Pipelines sowie stromführende Leitungen im Boden detektieren.
        </p>
        <p class="text-muted">Vor allem in schwer zugänglichen Gebieten und zum Sondieren von großen Flächen hat die Drohnen-Geomagnetik einen Vorteil gegenüber herkömmlichen Verfahren.</p>
        <ul class="list-unstyled text-muted">
          <li class="mb-0"><span class="text-primary h5 mr-2">
              <i data-feather="check"></i>
            </span>Kampfmittel, eisenhaltige Altlasten, Pipelines
          </li>
          <li class="mb-0"><span class="text-primary h5 mr-2">
              <i data-feather="check"></i>
            </span>Sondierung von großen Flächen
          </li>
          <li class="mb-0"><span class="text-primary h5 mr-2">
              <i data-feather="check"></i>
            </span>Vermessung schwer zugänglicher Gebiete
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container mt-100 mt-60">
  <div class="row align-items-center">
    <div class="col-md-6 order-1 order-md-2">
      <img src="/img/photogrametry.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 order-2 order-md-1">
      <div class="section-title ml-lg-5">
        <h4 class="title mb-4">Kartierung 2.0<br>Photogrammetrie per Drohne</h4>
        <p class="text-muted">
          Die Vermessung und Kartierung von Flächen spielt für die Kostenkalkulation von Bauvorhaben eine entscheidende
          Rolle. Insbesondere die Vermessung von nicht zugänglichen Gebieten war bisher nicht möglich oder sehr
          kostenintensiv.
        </p>
        <p class="text-muted">Durch den Einsatz von Drohnen können diese Gebiete kartiert werden und im Rahmen der
          Digitalisierung direkt in die Bauplanung mit einfließen.
        </p>
        <ul class="list-unstyled text-muted">
          <li class="mb-0">
            <span class="text-primary h5 mr-2"><i data-feather="check"></i></span>
            Vermessung von nicht zugänglichen Gebieten
          </li>
          <li class="mb-0">
            <span class="text-primary h5 mr-2"><i data-feather="check"></i></span>
            Verschneidung von Oberflächendaten mit dem Untergrundscan
          </li>
          <li class="mb-0">
            <span class="text-primary h5 mr-2"><i data-feather="check"></i></span>
            Digitalisierung direkt in die Bauplanung
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>