<div class="container mt-100 mt-60">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="section-title text-md-left text-center">
        <h4 class="title mb-4">Wie können wir helfen?</h4>
        <p class="text-muted mb-0 para-desc">Start working with <span
            class="text-primary font-weight-bold">Landrick</span> that can provide everything you need to generate
          awareness, drive traffic, connect.</p>
        <ul class="list-unstyled text-muted mt-4 mb-0">
          <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Digital
            Marketing Solutions for Tomorrow</li>
          <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Our Talented &
            Experienced Marketing Agency</li>
          <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Create your own
            skin to match your brand</li>
        </ul>
      </div>
    </div>

    <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
      <div class="faq-content">
        <div class="accordion" id="accordionExampleone">
          <div class="card border-0 rounded shadow mb-2">
            <a data-toggle="collapse" href="#collapseone" class="faq position-relative" aria-expanded="true"
              aria-controls="collapseone">
              <div class="card-header border-0 bg-light p-3 pr-5" id="headingfifone">
                <h6 class="title mb-0"> How our <span class="text-primary">Landrick</span> work?</h6>
              </div>
            </a>
            <div id="collapseone" class="collapse show" aria-labelledby="headingfifone"
              data-parent="#accordionExampleone">
              <div class="card-body px-2 py-4">
                <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem Ipsum available, but
                  the majority have suffered alteration in some form.</p>
              </div>
            </div>
          </div>

          <div class="card border-0 rounded shadow mb-2">
            <a data-toggle="collapse" href="#collapsetwo" class="faq position-relative collapsed" aria-expanded="false"
              aria-controls="collapsetwo">
              <div class="card-header border-0 bg-light p-3 pr-5" id="headingtwo">
                <h6 class="title mb-0"> What is the main process open account?</h6>
              </div>
            </a>
            <div id="collapsetwo" class="collapse" aria-labelledby="headingtwo" data-parent="#accordionExampleone">
              <div class="card-body px-2 py-4">
                <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem Ipsum available, but
                  the majority have suffered alteration in some form.</p>
              </div>
            </div>
          </div>

          <div class="card border-0 rounded shadow mb-2">
            <a data-toggle="collapse" href="#collapsethree" class="faq position-relative collapsed"
              aria-expanded="false" aria-controls="collapsethree">
              <div class="card-header border-0 bg-light p-3 pr-5" id="headingthree">
                <h6 class="title mb-0"> How to make unlimited data entry?</h6>
              </div>
            </a>
            <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordionExampleone">
              <div class="card-body px-2 py-4">
                <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem Ipsum available, but
                  the majority have suffered alteration in some form.</p>
              </div>
            </div>
          </div>

          <div class="card border-0 rounded shadow mb-2">
            <a data-toggle="collapse" href="#collapsefour" class="faq position-relative collapsed" aria-expanded="false"
              aria-controls="collapsefour">
              <div class="card-header border-0 bg-light p-3 pr-5" id="headingfour">
                <h6 class="title mb-0"> Is <span class="text-primary">Landrick</span> safer to use with my account?
                </h6>
              </div>
            </a>
            <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExampleone">
              <div class="card-body px-2 py-4">
                <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem Ipsum available, but
                  the majority have suffered alteration in some form.</p>
              </div>
            </div>
          </div>

          <div class="card border-0 rounded shadow">
            <a data-toggle="collapse" href="#collapsefive2" class="faq position-relative collapsed"
              aria-expanded="false" aria-controls="collapsefive2">
              <div class="card-header border-0 bg-light p-3 pr-5" id="headingfive2">
                <h6 class="title mb-0"> How can i contact your technical team?</h6>
              </div>
            </a>
            <div id="collapsefive2" class="collapse" aria-labelledby="headingfive2" data-parent="#accordionExampleone">
              <div class="card-body px-2 py-4">
                <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem Ipsum available, but
                  the majority have suffered alteration in some form.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ partial "contact-us" }}
</div>
