<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
				<a href="#" class="logo-footer">
					<img src="/img/logo-light.png" height="24" alt="">
				</a>
				<p class="mt-4">Start working with Landrick that can provide everything you need to generate
					awareness, drive traffic, connect.</p>
				<ul class="list-unstyled social-icon social mb-0 mt-4">
					<li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook"
								class="fea icon-sm fea-social"></i></a></li>
					<li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram"
								class="fea icon-sm fea-social"></i></a></li>
					<li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="youtube"
								class="fea icon-sm fea-social"></i></a></li>
					<li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin"
								class="fea icon-sm fea-social"></i></a></li>
				</ul>
			</div>

			<div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
				<h4 class="text-light footer-head">Unternehmen</h4>
				<ul class="list-unstyled footer-list mt-4">
					<li><a href="/about/about-us" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Über Asdro</a></li>
					<li><a href="/pages/services" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Leistungen</a></li>
					<li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Projekte</a></li>
				</ul>
			</div>

			<div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
				<h4 class="text-light footer-head">Weitere Links</h4>
				<ul class="list-unstyled footer-list mt-4">
					<li><a href="page-terms.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>AGBs</a></li>
					<li><a href="page-privacy.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Datenschutz</a></li>
					<li><a href="documentation.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Dokumentation</a></li>
					<li><a href="components.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Impressum</a></li>
				</ul>
			</div>

			<div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
				<h4 class="text-light footer-head">Newsletter</h4>
				<p class="mt-4">Abonnieren Sie den Asdro-Newsletter. Kein Spam, versprochen!</p>
				<form>
					<div class="row">
						<div class="col-lg-12">
							<div class="foot-subscribe form-group position-relative">
								<label>Geben Sie Ihre Email-Adresse ein <span class="text-danger">*</span></label>
								<i data-feather="mail" class="fea icon-sm icons"></i>
								<input type="email" name="email" id="emailsubscribe" class="form-control pl-5 rounded"
									placeholder="Email" required>
							</div>
						</div>
						<div class="col-lg-12">
							<input type="submit" id="submitsubscribe" name="send" class="btn btn-soft-primary btn-block"
								value="Abonnieren">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</footer>
<footer class="footer footer-bar">
	<div class="container text-center">
		<div class="row align-items-center">
			<div class="col-sm-6">
				<div class="text-sm-left">
					<p class="mb-0">© 2019 – {{ now.Format "2006" }} — {{ $.Site.Title }}. Coded with <i class="mdi mdi-heart text-danger"></i> by <a
							href="https://greive.tech/" target="_blank" rel="noopener" class="text-reset">greive.tech</a>.
					</p>
				</div>
			</div>

			<div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
				<ul class="list-unstyled text-sm-right mb-0">
					<li class="list-inline-item"><a href="javascript:void(0)"><img src="/img/payments/american-ex.png"
								class="avatar avatar-ex-sm" title="American Express" alt=""></a></li>
					<li class="list-inline-item"><a href="javascript:void(0)"><img src="/img/payments/discover.png"
								class="avatar avatar-ex-sm" title="Discover" alt=""></a></li>
					<li class="list-inline-item"><a href="javascript:void(0)"><img src="/img/payments/master-card.png"
								class="avatar avatar-ex-sm" title="Master Card" alt=""></a></li>
					<li class="list-inline-item"><a href="javascript:void(0)"><img src="/img/payments/paypal.png"
								class="avatar avatar-ex-sm" title="Paypal" alt=""></a></li>
					<li class="list-inline-item"><a href="javascript:void(0)"><img src="/img/payments/visa.png"
								class="avatar avatar-ex-sm" title="Visa" alt=""></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>