<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
                <h3 class="f4 b lh-title mb1 primary">lahr.codes</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
                    <li><a href="/projekte" class="link">Projekte</a></li>
                    <li><a href="/ziele" class="link">Ziele</a></li>
					<li><a href="/post" class="link">Blog</a></li>
                    <li><a href="/impressum" class="link">Impressum</a></li>
				</ul>
			</div>

			<div>
                <h3 class="f4 b lh-title mb1 primary">Interessiert?</h3>
				<ul class="mb3">
                    <li><a href="/events/" class="link">Künftige Events</a></li>
                    <li><a href="/mitmachen" class="link">Mitmachen</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
                Leider noch nicht in sozialen </br>
                Medien vertreten.
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
