<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <div class="section-title mb-4 pb-2">
        <h4 class="title mb-4">How It Work?</h4>
        <p class="text-muted para-desc mb-0 mx-auto">Start working with <span
            class="text-primary font-weight-bold">Landrick</span> that can provide everything you need to generate
          awareness, drive traffic, connect.</p>
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-lg-5 col-md-6 mt-4 pt-2">
      <img src="/img/illustrations/SEO_SVG.svg" alt="">
    </div>

    <div class="col-lg-7 col-md-6 mt-4 pt-2">
      <div class="section-title ml-lg-5">
        <h4 class="title mb-4">Change the way you build websites</h4>
        <p class="text-muted">You can combine all the Landrick templates into a single one, you can take a component
          from the Application theme and use it in the Website.</p>
        <ul class="list-unstyled text-muted">
          <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Digital
            Marketing Solutions for Tomorrow</li>
          <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Our Talented
            & Experienced Marketing Agency</li>
          <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Create your
            own skin to match your brand</li>
        </ul>
        <a href="javascript:void(0)" class="mt-3 h6 text-primary">Find Out More <i
            class="mdi mdi-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="container mt-100 mt-60">
  <div class="row align-items-center">
    <div class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
      <div class="section-title">
        <h4 class="title mb-4">Speed up your development <br> with <span class="text-primary">Landrick.</span></h4>
        <p class="text-muted">Using Landrick to build your site means never worrying about designing another page or
          cross browser compatibility. Our ever-growing library of components and pre-designed layouts will make your
          life easier.</p>
        <ul class="list-unstyled text-muted">
          <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Digital
            Marketing Solutions for Tomorrow</li>
          <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Our Talented
            & Experienced Marketing Agency</li>
          <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Create your
            own skin to match your brand</li>
        </ul>
        <a href="javascript:void(0)" class="mt-3 h6 text-primary">Find Out More <i
            class="mdi mdi-chevron-right"></i></a>
      </div>
    </div>

    <div class="col-lg-5 col-md-6 order-1 order-md-2">
      <div class="card rounded border-0 shadow ml-lg-5">
        <div class="card-body">
          <img src="/img/illustrations/Mobile_notification_SVG.svg" alt="">

          <div class="content mt-4 pt-2">
            <form>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group position-relative">
                    <label>Name : <span class="text-danger">*</span></label>
                    <i data-feather="user" class="fea icon-sm icons"></i>
                    <input type="text" class="form-control pl-5" placeholder="Name" name="name" required="">
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group position-relative">
                    <label>Email : <span class="text-danger">*</span></label>
                    <i data-feather="mail" class="fea icon-sm icons"></i>
                    <input type="email" class="form-control pl-5" placeholder="Email" name="email" required="">
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group position-relative">
                    <label>Password : <span class="text-danger">*</span></label>
                    <i data-feather="key" class="fea icon-sm icons"></i>
                    <input type="password" class="form-control pl-5" placeholder="Password" required="">
                  </div>
                </div>

                <div class="col-lg-12 mt-2 mb-0">
                  <button class="btn btn-primary btn-block">Download</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>