<section class="bg-half-170 d-table w-100" style="background: url('{{ .image }}') center center; background-size: cover;" id="home">
	<div class="container">
		<div class="row position-relative align-items-center pt-4">
			<div class="col-lg-7 offset-lg-5">
				<div class="title-heading studio-home rounded bg-white shadow mt-5">
					<h1 class="heading mb-3">{{ .Headline }}</h1>
					<p class="para-desc text-muted">{{ .Subtitle }}</p>
					<div class="mt-4">
						<a href="{{ .Buttons.primary.link }}" class="btn btn-primary mt-2 mr-2">
							<i class="mdi mdi-{{ .Buttons.primary.icon }}"></i>
							{{ .Buttons.primary.label }}</a>
						<a href="{{ .Buttons.secondary.link }}" class="btn btn-outline-primary mt-2">
							<i class="mdi mdi-{{ .Buttons.secondary.icon }}"></i>
							{{ .Buttons.secondary.label }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>