{{ $transparent := .Params.NavTransparent }}

<header id="topnav" class="defaultscroll sticky{{ if not $transparent }} bg-white{{ end }}">
	<div class="container">
		<div>
			<a class="logo" href="/">
				{{ $logos := slice "dark" }}
				{{ if $transparent }}
					{{ $logos = slice "dark" "light"}}
				{{ end }}
				{{ range $logos }}
					<img {{ if $transparent }}class="l-{{ . }}" {{ end }}src="/img/logo-{{ . }}.svg" height="20" alt="">
				{{ end }}
			</a>
		</div>
		<div class="buy-button">

			{{ $ctaButtons := slice "primary" }}
			{{ if $transparent }}
				{{ $ctaButtons = slice "primary" "light" }}
			{{ end }}
			{{ range $ctaButtons }}
				<a href="/contact" class="btn btn-{{ . }}{{ if $transparent }} login-btn-{{ . }}{{ end }}">Kontakt</a>
			{{ end }}
		</div>

		<div class="menu-extras">
			<div class="menu-item">
				<a class="navbar-toggle">
					<div class="lines">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</a>
			</div>
		</div>

		<div id="navigation">
			<ul class="navigation-menu{{ if $transparent }} nav-light{{ end }}">
				<li><a href="/">Home</a></li>

				<li class="has-submenu">
					<a href="/pages/fields/">Branchen</a><span class="menu-arrow"></span>
					<ul class="submenu">
						<li><a href="/pages/fields/civil-engineering/">Tiefbau</a></li>
						<li><a href="/pages/fields/infrastructure/">Infrastruktur</a></li>
						<li><a href="/pages/fields/energy-supply/">Öl und Gas</a></li>
					</ul>
				</li>

				<li class="has-submenu">
					<a href="/pages/services/">Leistungen</a><span class="menu-arrow"></span>
					<ul class="submenu">
						<li><a href="/pages/services/ordnance-probing/">Kampfmittelsondierung</a></li>
						<li><a href="/pages/services/line-location/">Leitungsortung</a></li>
						<li><a href="/pages/services/site-exploration/">Baugrunderkundung</a></li>
						<li><a href="/pages/services/inspection/">Inspektion</a></li>
						<!-- <li><a href="/pages/services/geo-physics/">Geophysik</a></li>
						<li><a href="/pages/services/surveying/">Vermessung</a></li>
						<li><a href="/pages/services/software/">Software</a></li> -->
					</ul>
				</li>
				<li class="has-submenu">
					<a href="/about/about-us/">Unternehmen</a><span class="menu-arrow"></span>
					<ul class="submenu">
						<li><a href="/about/about-us/">Über Asdro</a></li>
						<li><a href="/pages/our-approach/">Unser Ansatz</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</header>