<section class="bg-half d-table w-100{{ if .Params.Image }} text-white{{ else }} bg-light{{ end }}"{{ if .Params.Image }} style="background-image: url('{{ .Params.Image }}')"{{ end }}>
  {{ if .Params.Image }}<div class="bg-overlay"></div>{{ end }}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="page-next-level title-heading">
          <h1 class="title-dark">{{ .Title }}</h1>
          {{ if .Params.Heading }}
            <p class="para-desc mb-0 mx-auto{{ if .Params.Image }} text-white-50{{ end }}">{{ .Params.Heading }}</p>
          {{ end }}
          <div class="page-next">
            <nav aria-label="breadcrumb" class="d-inline-block">
              <ul class="breadcrumb bg-white rounded shadow mb-0">
                <li class="breadcrumb-item"><a href="{{ $.Site.BaseURL }}">Asdro</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>