<section class="section">
    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <img src="{{ .Params.listOne.image }}" class="img-fluid" alt="">
            </div>

            <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title ml-lg-5 intro-bulletpoints">
                    <h4 class="title mb-4">{{ .Params.listOne.title }}</h4>

                    {{ range .Params.listOne.list }}
                        <h5><i data-feather="{{ .icon }}" class="text-primary mr-1 align-middle"></i><span class="align-middle">{{ .title }}</span></h5>
                        <p class="text-muted para-desc ml-4 pl-2">{{ .description }}</p>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 order-1 order-md-2">
                <img src="{{ .Params.listTwo.image }}" class="img-fluid" alt="">
            </div>

            <div class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title me-lg-5 intro-bulletpoints">
                    <h4 class="title mb-4">{{ .Params.listTwo.title }}</h4>
                    <p class="text-muted">{{ .Params.listTwo.description }}</p>
                    <ul class="list-unstyled text-muted">
                        {{ range .Params.listTwo.list }}
                            <li class="mb-0">
                                <span class="text-primary h5 me-2">
                                    <i data-feather="check-circle" class="align-middle"></i>
                                </span>
                                {{ . }}
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>