<div class="bg-off-white pv4 ph3">

	<div class="mw7 center">

		<h2 class="f2 b lh-title mb3">{{.heading}}</h1>
		<p class="mw6">{{.text}}</p>

		<div class="flex-ns mhn2-ns mw7">

			<div class="w-33-ns ph2">{{ partial "table-column" (dict "plan" "Small" "price" "50" "description" "Perfect for the drinker who likes to enjoy 1-2 cups per day." "item1" "3 lbs of coffee per month" "item2" "Green or roasted beans" "item3" "One or two varieties of beans") }}
			</div>

			<div class="w-33-ns ph2">
				{{ partial "table-column" (dict "plan" "Big" "price" "80" "description" "Great for avid drinkers, java-nsoving couples and bigger crowds" "item1" "6 lbs of coffee per month" "item2" "Green or roasted beans" "item3" "Up to 4 different varieties of beans") }}
			</div>

			<div class="w-33-ns ph2">
				{{ partial "table-column" (dict "plan" "Custom" "price" "?" "description" "Want a few tiny batches from different varieties? Try our custom plan" "item1" "Whatever you need" "item2" "Green or roasted beans" "item3" "Unlimited varieties") }}
			</div>

		</div>

	</div>

</div>
