<div class="container mt-100 mt-60">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4">Was Kunden über Asdro sagen</h4>
                <p class="text-muted para-desc mx-auto mb-0">Start working with <span class="text-primary font-weight-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-12 mt-4">
            <div class="owl-carousel owl-theme" data-testimonial-slider>
                <div class="media customer-testi m-2">
                    <img src="/img/testimonial.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
                    <div class="media-body content p-3 shadow rounded bg-white position-relative">
                        <ul class="list-unstyled mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                        </ul>
                        <p class="text-muted mt-2">" It seems that only fragments of the original text remain in the Lorem Ipsum texts used today. "</p>
                        <h6 class="text-primary">- Thomas Israel <small class="text-muted">C.E.O</small></h6>
                    </div>
                </div>

                <div class="media customer-testi m-2">
                    <img src="/img/testimonial.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
                    <div class="media-body content p-3 shadow rounded bg-white position-relative">
                        <ul class="list-unstyled mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star-half text-warning"></i></li>
                        </ul>
                        <p class="text-muted mt-2">" One disadvantage of Lorum Ipsum is that in Latin certain letters appear more frequently than others. "</p>
                        <h6 class="text-primary">- Barbara McIntosh <small class="text-muted">M.D</small></h6>
                    </div>
                </div>

                <div class="media customer-testi m-2">
                    <img src="/img/testimonial.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
                    <div class="media-body content p-3 shadow rounded bg-white position-relative">
                        <ul class="list-unstyled mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                        </ul>
                        <p class="text-muted mt-2">" The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. "</p>
                        <h6 class="text-primary">- Carl Oliver <small class="text-muted">P.A</small></h6>
                    </div>
                </div>

                <div class="media customer-testi m-2">
                    <img src="/img/testimonial.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
                    <div class="media-body content p-3 shadow rounded bg-white position-relative">
                        <ul class="list-unstyled mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                        </ul>
                        <p class="text-muted mt-2">" According to most sources, Lorum Ipsum can be traced back to a text composed by Cicero. "</p>
                        <h6 class="text-primary">- Christa Smith <small class="text-muted">Manager</small></h6>
                    </div>
                </div>

                <div class="media customer-testi m-2">
                    <img src="/img/testimonial.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
                    <div class="media-body content p-3 shadow rounded bg-white position-relative">
                        <ul class="list-unstyled mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                        </ul>
                        <p class="text-muted mt-2">" There is now an abundance of readable dummy texts. These are usually used when a text is required. "</p>
                        <h6 class="text-primary">- Dean Tolle <small class="text-muted">Developer</small></h6>
                    </div>
                </div>

                <div class="media customer-testi m-2">
                    <img src="/img/testimonial.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
                    <div class="media-body content p-3 shadow rounded bg-white position-relative">
                        <ul class="list-unstyled mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                        </ul>
                        <p class="text-muted mt-2">" Thus, Lorem Ipsum has only limited suitability as a visual filler for German texts. "</p>
                        <h6 class="text-primary">- Jill Webb <small class="text-muted">Designer</small></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ partial "contact-us" }}
</div>