<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <div class="section-title mb-4 pb-2">
        <h4 class="title mb-4">Work Process</h4>
        <p class="text-muted para-desc mx-auto mb-0">Start working with <span
            class="text-primary font-weight-bold">Landrick</span> that can provide everything you
          need to generate awareness, drive traffic, connect.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mt-4 pt-2">
      <div class="card work-process border-0 rounded shadow">
        <div class="card-body">
          <h4 class="title">Discuss The Project</h4>
          <p class="text-muted para">The most well-known dummy text is the 'Lorem Ipsum', which is
            said to have originated in the 16th century.</p>
          <a href="javascript:void(0)" class="text-primary">Read more <i class="mdi mdi-chevron-right"></i></a>
          <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
            <li class="step h1 mb-0 font-weight-bold">Step 01.</li>
            <li class="step-icon"><i class="mdi mdi-chevron-double-right mdi-36px"></i></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-4 pt-2">
      <div class="card work-process border-0 rounded shadow">
        <div class="card-body">
          <h4 class="title">Develop & Elaborate</h4>
          <p class="text-muted para">The most well-known dummy text is the 'Lorem Ipsum', which is
            said to have originated in the 16th century.</p>
          <a href="javascript:void(0)" class="text-primary">Read more <i class="mdi mdi-chevron-right"></i></a>
          <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
            <li class="step h1 mb-0 font-weight-bold">Step 02.</li>
            <li class="step-icon"><i class="mdi mdi-chevron-double-right mdi-36px"></i></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-4 pt-2">
      <div class="card work-process border-0 rounded shadow">
        <div class="card-body">
          <h4 class="title">Final Approvement</h4>
          <p class="text-muted para">The most well-known dummy text is the 'Lorem Ipsum', which is
            said to have originated in the 16th century.</p>
          <a href="javascript:void(0)" class="text-primary">Read more <i class="mdi mdi-chevron-right"></i></a>
          <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
            <li class="step h1 mb-0 font-weight-bold">Step 03.</li>
            <li class="step-icon"><i class="mdi mdi-check-all mdi-36px"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-100 pt-50">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <div class="section-title mb-4 pb-2">
        <h4 class="title mb-4">Our Latest Projects</h4>
        <p class="text-muted para-desc mx-auto mb-0">Start working with <span
            class="text-primary font-weight-bold">Landrick</span> that can provide everything you
          need to generate awareness, drive traffic, connect.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-12 mt-4 pt-2">
      <div class="card border-0 work-container work-classic">
        <div class="card-body p-0">
          <a href="page-work-detail.html"><img src="https://asdro.de/wp-content/uploads/2019/10/01_Home_02_.jpg" class="img-fluid rounded work-image" alt=""></a>
          <div class="content pt-3">
            <h5 class="mb-0"><a href="page-work-detail.html" class="text-dark title">Störkörpersuche in Schräglage</a></h5>
            <h6 class="text-muted tag mb-0">Branding</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-12 mt-4 pt-2">
      <div class="card border-0 work-container work-classic">
        <div class="card-body p-0">
          <a href="page-work-detail.html"><img src="https://asdro.de/wp-content/uploads/2020/02/Bildschirmfoto-2019-11-21-um-13.26.49.png" class="img-fluid rounded work-image" alt=""></a>
          <div class="content pt-3">
            <h5 class="mb-0"><a href="page-work-detail.html" class="text-dark title">Koorperation mit Duisport</a></h5>
            <h6 class="text-muted tag mb-0">Mockup</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-12 mt-4 pt-2">
      <div class="card border-0 work-container work-classic">
        <div class="card-body p-0">
          <a href="page-work-detail.html"><img src="https://asdro.de/wp-content/uploads/2020/08/Drohneschr%C3%A4g-scaled.jpg" class="img-fluid rounded work-image" alt=""></a>
          <div class="content pt-3">
            <h5 class="mb-0"><a href="page-work-detail.html" class="text-dark title">Störkörpersuche in Schräglage</a></h5>
            <h6 class="text-muted tag mb-0">Abstract</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-12 mt-4 pt-2">
      <div class="card border-0 work-container work-classic">
        <div class="card-body p-0">
          <a href="page-work-detail.html"><img src="https://asdro.de/wp-content/uploads/2019/10/02_Kompetenz_03_.jpg" class="img-fluid rounded work-image" alt=""></a>
          <div class="content pt-3">
            <h5 class="mb-0"><a href="page-work-detail.html" class="text-dark title">Auswertung</a></h5>
            <h6 class="text-muted tag mb-0">Books</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 text-center mt-4 pt-2">
      <a href="page-work-modern.html" class="btn btn-primary">See More <i class="mdi mdi-arrow-right"></i></a>
    </div>
  </div>
</div>

<div class="container mt-100 mt-60">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <div class="section-title">
        <h4 class="title mb-4">See everything about your workplace</h4>
        <p class="text-muted para-desc mx-auto mb-0">Start working with <span
            class="text-primary font-weight-bold">Landrick</span> that can provide everything you
          need to generate awareness, drive traffic, connect.</p>

        <div class="mt-3">
          <a href="https://1.envato.market/4n73n" target="_blank" class="btn btn-primary mt-2 mr-2">Buy Now <span
              class="badge badge-pill badge-danger ml-2">v2.5</span></a>
          <a href="javascript:void(0)" data-toggle="modal" data-target="#LoginForm"
            class="btn btn-outline-primary mt-2"><i class="mdi mdi-account-check-outline"></i> Free
            Trial</a>
        </div>
      </div>
    </div>
  </div>
</div>