.b--primary {
  border-color: var(--primary);
}

.b--highlight {
  border-color: --var(--highlight);
}

.b--white {
  border-color: var(--white);
}

.b--off-white {
  border-color: var(--off-white);
}

.b--grey-1 {
  border-color: var(--grey-1);
}

.b--grey-2 {
  border-color: var(--grey-2);
}

.b--grey-3 {
  border-color: var(--grey-3);
}

.b--grey-4 {
  border-color: var(--grey-4);
}

.b--black {
  border-color: var(--black);
}
