<div class="card blog rounded border-0 shadow overflow-hidden">
  <div class="position-relative">
    <img src="{{ .Params.Image }}" class="card-img-top" alt="{{ .Title }}">
    <div class="overlay rounded-top bg-dark"></div>
  </div>
  <div class="card-body content">
    <h5><a href="{{ .RelPermalink }}" class="card-title title text-dark">{{ .Title }}</a>
    </h5>
    <div class="post-meta d-flex justify-content-between mt-3">
      <ul class="list-unstyled mb-0">
        <li class="list-inline-item mr-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i
              class="mdi mdi-heart-outline mr-1"></i>33</a></li>
        <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i
              class="mdi mdi-comment-outline mr-1"></i>08</a></li>
      </ul>
      <a href="{{ .RelPermalink }}" class="text-muted readmore">Read More <i class="mdi mdi-chevron-right"></i></a>
    </div>
  </div>
  <div class="author">
    <small class="text-light user d-block"><i class="mdi mdi-account"></i> Calvin Carlo</small>
    <small class="text-light date"><i class="mdi mdi-calendar-check"></i>{{ .Date.Format "Mon, Jan 2, 2006" }}</small>
  </div>
</div>