//
// general.scss
//

html {
    direction: rtl;
}

body {
    text-align: right;
}

//Switcher
#style-switcher {
    .t-rtl-dark {
        display: none;
    }
    .t-ltr-dark {
        display: inline-block;
    }
}