//
// helper.scss
//

.text-left {
    text-align: right !important;
}

.text-right {
    text-align: left !important;
}

.float-right {
    float: left !important;
}
.float-left {
    float: right !important;
}
dd {
    margin-right: 0 !important;
}