{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="/img/logo.svg" alt="" class="db w4 center pv4">

		<p>We’d love to get in touch with you and hear your ideas and questions. We strive to grow and improve constantly and your feedback is valuable for us.</p>

		<h3 class="f4 b lh-title mb2">How can I get…?</h3>
		<p>You can also use the form below for any inquiries about coffee availability, monthly subscriptions and scheduling a 1-on-1 session with our baristas. Don’t be shy, drop us a line!</p>

		<div class="flex-ns mb3">

			<div>
				<h4 class="f4 b lh-title mb2 primary">Location</h4>
				<p>3153 Lynn Avenue, South San Francisco, California 94080</p>
			</div>

			<div>
				<h4 class="f4 b lh-title mb2 primary">Working hours</h4>
				<p>Monday – Saturday: 9AM – 7PM We’re closed on Sundays</p>
			</div>

		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ partial "footer" . }}
