{{ define "main" }}

  {{ partial "page-header" . }}

  <section class="section pb-0">
    <div class="container">
      <div class="row align-items-center" id="counter">
          <div class="col-md-6">
              <div class="position-relative">
                <img src="{{ .Params.intro.image }}" class="img-fluid rounded-md shadow-lg" alt="">
                <div class="play-icon">
                  <a href="https://www.youtube.com/watch?v=bCU61ydOM5o" class="play-btn video-play-icon">
                    <i class="mdi mdi-play text-primary rounded-circle bg-white shadow-lg"></i>
                  </a>
                </div>
              </div>
          </div>

          <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
              <div class="ml-lg-4">
                <div class="section-title">
                  {{ if .Params.intro.heading }}
                    <h4 class="title mb-4">{{ .Params.intro.heading }}</h4>
                  {{ end }}
                  <div class="text-muted">{{ safeHTML .Content }}</div>
                  {{ if .Params.intro.button.link }}
                    <a href="{{ .Params.intro.button.link }}" class="btn btn-primary mt-3">{{ .Params.intro.button.label }}</a>
                  {{ end }}
                </div>
              </div>
          </div>
      </div>

    </div>
</section>

  {{ partial "team" .Params.team }}

{{ end }}