{{ define "main" }}

{{ partial "page-header" . }}

<section class="section bg-light">
  <div class="container mt-100 mt-60">
    {{ if .Params.intro }}
      <div class="row align-items-end mb-4 pb-4">
        <div class="col-md-8">
          <div class="section-title text-center text-md-left">
            <h6 class="text-primary">{{ .Params.intro.subtitle }}</h6>
            <h4 class="title mb-4">{{ .Params.intro.heading }}</h4>
            <p class="text-muted mb-0 para-desc">{{ .Params.intro.description }}</p>
          </div>
        </div>
      </div>
    {{ end }}

    <div class="row justify-content-center">
    {{ range .Params.accordion }}
      <div class="col-md-6 col-12 mt-4 pt-2">
        <div class="card border-0 work-container work-classic bg-transparent">
          <div class="card-body p-0">
            <img src="{{ .image }}" alt="{{ .title }}" class="img-fluid rounded work-image">
            <div class="content pt-3">
              <h5 class="mb-0">{{ if .link.url }}<a href="{{ .link.url }}" class="text-dark stretched-link">{{ .title }}</a>{{ else }}{{ .title }}{{ end }}</h5>
              <p class="text-muted">{{ .description }}</p>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
    </div>
  </div>
</section>

<section class="section bg-light pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="video-solution-cta position-relative" style="z-index: 1;">
          <div class="position-relative">
            <img src="/img/preview.jpg" class="img-fluid rounded-md shadow-lg" alt="">
            <div class="play-icon">
              <a href="https://www.youtube.com/watch?v=GY_Ap7sRp0I" class="play-btn video-play-icon">
                <i class="mdi mdi-play text-primary rounded-circle bg-white shadow-lg"></i>
              </a>
            </div>
          </div>
          <div class="content mt-md-4 pt-md-2">
            <div class="row justify-content-center">
              <div class="col-lg-10 text-center">
                <div class="row align-items-center">
                  <div class="col-md-6 mt-4 pt-2">
                    <div class="section-title text-md-left">
                      <h6 class="text-white-50">Wir beraten Sie gern!</h6>
                      <h4 class="title text-white title-dark mb-0">Lassen Sie uns über <br> Ihr Projekt reden</h4>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 mt-4 pt-md-2">
                    <div class="section-title text-md-left">
                      <!-- <p class="text-white-50 para-desc">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p> -->
                      <a href="/contact" class="btn btn-light">Kontakt</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="feature-posts-placeholder bg-primary"></div>
  </div>

</section>

{{ end }}