{{ define "main" }}

{{ partial "page-header" . }}

<section class="section bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <h6 class="text-primary">Der Prozess</h6>
          <h4 class="title mb-4">Wie wir arbeiten</h4>
          <p class="text-muted para-desc mx-auto mb-0">Start working with <span
              class="text-primary font-weight-bold">Landrick</span> that can provide everything you need to generate
            awareness, drive traffic, connect.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mt-4 pt-2">
        <div class="card features feature-clean work-process bg-transparent process-arrow border-0 text-center">
          <div class="icons text-primary text-center mx-auto">
            <span class="d-block rounded"><i data-feather="map" class="h3 m-0"></i></span>
          </div>

          <div class="card-body">
            <h5 class="text-dark">Datenerhebung</h5>
            <p class="text-muted mb-0">The most well-known dummy text is the 'Lorem Ipsum', which is said to have
              originated</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-md-5 pt-md-3 mt-4 pt-2">
        <div class="card features feature-clean work-process bg-transparent process-arrow border-0 text-center">
          <div class="icons text-primary text-center mx-auto">
            <span class="d-block rounded"><i data-feather="bar-chart-2" class="h3 m-0"></i></span>
          </div>

          <div class="card-body">
            <h5 class="text-dark">Auswertung</h5>
            <p class="text-muted mb-0">Generators convallis odio, vel pharetra quam malesuada vel. Nam porttitor
              malesuada.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-md-5 pt-md-5 mt-4 pt-2">
        <div class="card features feature-clean work-process bg-transparent d-none-arrow border-0 text-center">
          <div class="icons text-primary text-center mx-auto">
            <span class="d-block rounded"><i data-feather="link" class="h3 m-0"></i></span>
          </div>

          <div class="card-body">
            <h5 class="text-dark">Reporting</h5>
            <p class="text-muted mb-0">Internet Proin tempus odio, vel pharetra quam malesuada vel. Nam porttitor
              malesuada.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-100 mt-60">
    <div class="row align-items-end mb-4 pb-4">
      <div class="col-md-8">
        <div class="section-title text-center text-md-left">
          <h6 class="text-primary">Branchen</h6>
          <h4 class="title mb-4">Wen wir unterstützen können</h4>
          <p class="text-muted mb-0 para-desc">Start working with <span
              class="text-primary font-weight-bold">Landrick</span> that can provide everything you need to generate
            awareness, drive traffic, connect.</p>
        </div>
      </div>

      <div class="col-md-4 mt-4 mt-sm-0">
        <div class="text-center text-md-right">
          <a href="javascript:void(0)" class="text-primary h6">See More <i data-feather="arrow-right"
              class="fea icon-sm"></i></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mt-4 pt-2">
        <ul class="nav nav-pills nav-justified flex-column bg-white rounded shadow p-3 mb-0 sticky-bar" id="pills-tab"
          role="tablist">
          {{ range $i, $e := .Params.accordion }}
            <li class="nav-item">
              <a class="nav-link rounded{{ if eq $i 0}} active{{ end }}" id="webdeveloping" data-toggle="pill" href="#{{ .title | urlize }}" role="tab"
                aria-controls="developing" aria-selected="false">
                <div class="text-center py-1">
                  <h6 class="mb-0">{{ .title }}</h6>
                </div>
              </a>
            </li>
          {{ end }}
        </ul>
      </div>

      <div class="col-md-8 col-12 mt-4 pt-2">
        <div class="tab-content" id="pills-tabContent">
          {{ range $i, $e := .Params.accordion }}
            <div class="tab-pane fade bg-white p-4 rounded shadow{{ if eq $i 0}} active show{{ end }}" id="{{ .title | urlize }}" role="tabpanel" aria-labelledby="webdeveloping">
              <img src="{{ .image }}" class="img-fluid rounded shadow" alt="{{ .title }}">
              <div class="mt-4">
                <p class="text-muted">{{ .description }}</p>
                {{ if .link }}
                  <a href="{{ .link.url }}" class="text-primary">
                    {{ .link.label }}
                    <i data-feather="arrow-right" class="fea icon-sm"></i>
                  </a>
                {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section bg-light pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="video-solution-cta position-relative" style="z-index: 1;">
          <div class="position-relative">
            <img src="/img/preview.webp" class="img-fluid rounded-md shadow-lg" alt="">
            <div class="play-icon">
              <a href="https://www.youtube.com/watch?v=bCU61ydOM5o" class="play-btn video-play-icon">
                <i class="mdi mdi-play text-primary rounded-circle bg-white shadow-lg"></i>
              </a>
            </div>
          </div>
          <div class="content mt-md-4 pt-md-2">
            <div class="row justify-content-center">
              <div class="col-lg-10 text-center">
                <div class="row align-items-center">
                  <div class="col-md-6 mt-4 pt-2">
                    <div class="section-title text-md-left">
                      <h6 class="text-white-50">Wir beraten Sie gern!</h6>
                      <h4 class="title text-white title-dark mb-0">Lassen Sie uns über <br> Ihr Projekt reden</h4>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 mt-4 pt-md-2">
                    <div class="section-title text-md-left">
                      <p class="text-white-50 para-desc">Start working with Landrick that can provide everything you
                        need to generate awareness, drive traffic, connect.</p>
                      <a href="/contact" class="text-white title-dark">Nehmen Sie Kontakt auf <i data-feather="arrow-right" class="fea icon-sm"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="feature-posts-placeholder bg-primary"></div>
  </div>

</section>

{{ end }}