{{ define "main" }}

{{ partial "jumbotron" .Params }}

{{ partial "clients" .Params }}

<section class="section">
  {{ partial "services-wrapper" .Params }}
</section>

{{ partial "counter" .Params }}

<section class="section">
  {{ partial "advantages-wrapper" }}
</section>

{{/*  <section class="section">
  {{ partial "work-process" }}
</section>  */}}

<!-- <section class="section bg-light">
  {{ partial "testimonials" }}
</section> -->

{{/*  <section class="section bg-light border-bottom">
  {{ partial "how-it-works" }}
</section>  */}}

{{/* {{ partial "short-text" .Params.blurb }}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }} */}}

{{ end }}